.hidden {
    display: none!important;
}
.contentsWrap{
    width:100%;
    padding:1rem;
}
h4 {
    display: inline-block;
}
.addAccount, .addCenter{
    background-color: slateblue;
    color:#fff;
    margin:0 10px;
}
.editCenter, .editAccount {
    background-color:cadetblue; ;
    color:#fff;
    margin:0 10px;
}
.updateAccount, .updateCenter {
    background-color: coral;
    color:#fff;
    margin:0 10px;
}
/* 수정 버튼이벤트 */
.addedButton {
    line-height: 30px;
    margin:0 5px;
    min-width: 50px;
    padding:0 5px;
}
.revice {
    color:peru;
}
.delete {
    color:red;
}
