.contentsWrap{
    width:100%;
    padding:1rem;
}
h4 {
    display: inline-block;
}
.addAccount, .addCenter{
    background-color: slateblue;
    color:#fff;
    margin:0 10px;
}
.editCenter, .editAccount {
    background-color:cadetblue; ;
    color:#fff;
    margin:0 10px;
}
/* 수정 버튼이벤트 */
.addedButton {
    line-height: 30px;
    margin:0 5px;
}
.revice {
    background-color: yellowgreen;
    color:#fff;

}
.delete {
    background-color: red;
    color:#fff;
}