<h4>인원 정보 수정하기</h4>
<div class="contents">
  <form action="/">
    <p class="name">
      <span class="label">이름</span>
      <mat-form-field>
        <input matInput [(ngModel)]="instructor.name" name="name" required>
      </mat-form-field>
    </p>
    <p class="contact">
      <span class="label">연락처</span>
      <mat-form-field>
        <input matInput [(ngModel)]="instructor.contact" name="contact" required>
      </mat-form-field>
    </p>
    <p class="photo">
      <span class="label">사진</span>
        <label for="photoFile" class="replaceIF"> 클릭해서 파일 추가 </label>
        <input type="file" name="photo" id="photoFile" class="hidden" (change)="value();">
    </p>
    <p class="task">
      <span class="label">업무</span>
      <mat-form-field appearance="fill">
        <mat-label>업무 선택</mat-label>
        <mat-select name="task" [(ngModel)]="instructor.task">
          <mat-option *ngFor="let t of tasks" value="{{ t.name }}">{{ t.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p class="center">
      <span class="label">대상 시설</span>
      <mat-form-field appearance="fill">
        <mat-label>시설 선택</mat-label>
        <mat-select name="centerId" [(ngModel)]="instructor.centerId">
          <mat-option *ngFor="let c of centers" value="{{ c.id }}">{{ c.name }}</mat-option>
      </mat-select>
      </mat-form-field>
    </p>
    <p class="region">
      <span class="label">활동 지역</span>
      <mat-form-field>
        <input matInput name="region" [(ngModel)]="instructor.region">
      </mat-form-field>
    </p>
    <div class="buttonBox">
      <button mat-button class="submit" (click)="up()">수정하기</button>
      <button mat-button class="cancel" (click)="closeDialog()">취소</button>
    </div>
  </form>
</div>
