<mat-card>
  <mat-icon class="backward" (click)="backward()">keyboard_backspace</mat-icon>
  <mat-card-title class='title'>
    12월 시설A 복지센터 시설 공사안내
  </mat-card-title>
  <div class="body">
    <div class="bodyTitle m-b-20">
      <div class="write">
        <div class="writer">
          <span class="label">작성자</span>
          <span class="name contents">김경민</span>
        </div>
        <div class="writeDate">
          <span class="label">작성 시간</span>
          <span class="date contents">2020-12-29 17:02</span>
        </div>
      </div>
      <p class="file">
        <span class="label">첨부 파일</span>
        <span class="upFile contents"><a href="#none">wow.txt</a></span>
      </p>
    </div>
    <p class="text"></p>
  </div>
</mat-card>
