<h4>센터정보 수정</h4>
<div class="contents">
    <form action="/">
        <p class="name">
            <span class="label">센터  이름</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.name" name="name">
            </mat-form-field>
        </p>
        <p class="address">
            <span class="label">센터 주소</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.address" name="address">
            </mat-form-field>
        </p>
        <p class="maxUser">
            <span class="label">제한 인원</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.limited" name="limited">
            </mat-form-field>
        </p>
        <p class="manager">
            <span class="label">담당자 이름</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.manager" name="manager">
            </mat-form-field>
        </p>
        <p class="contact">
            <span class="label">연락처</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.contact" name="contact">
            </mat-form-field>
        </p>
        <p class="eMail">
            <span class="label">이메일</span>
            <mat-form-field>
                <input matInput [(ngModel)]="center.email" name="email">
            </mat-form-field>
        </p>
        
        <div class="buttonBox">
            <button mat-button class="submit" (click)="update()">수정하기</button>
            <button mat-button class="cancel" (click)="closeDialog()">취소</button>
        </div>
    </form>
</div>
