<mat-card class="m-b-10 header">
    일일 식단 게시판
  <button mat-button class="float-right addDietary">사진추가</button>
</mat-card>
<mat-tab-group [selectedIndex]="Month" class="tab" dynamicHeight>
  <mat-tab label="1월">
    <div class='mealCardBox'>
      <mat-card class="mealCard m-b-10" *ngFor='let dietary of dietarys'>
        <div class="innerCard">
          <img src="../../../assets/images/dietary/{{dietary.url}}" alt="{{dietary.month}}월 {{dietary.day}}일 식단"
            class="mealPhoto">
          <div class="mealList">
            <p class="title">{{dietary.year}}-{{dietary.month}}-{{dietary.day}}</p>
            <span *ngFor='let meal of dietary.meals' class="meal">{{meal}}</span>
            <span class="info">{{dietary.info}}</span>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="2월"></mat-tab>
  <mat-tab label="3월"></mat-tab>
  <mat-tab label="4월"></mat-tab>
  <mat-tab label="5월"></mat-tab>
  <mat-tab label="6월"></mat-tab>
  <mat-tab label="7월"></mat-tab>
  <mat-tab label="8월"></mat-tab>
  <mat-tab label="9월"></mat-tab>
  <mat-tab label="10월"></mat-tab>
  <mat-tab label="11월"></mat-tab>
  <mat-tab label="12월"></mat-tab>
</mat-tab-group>
