<mat-card>
  <h3>CCTV 관리</h3>
  <button mat-button class="addCCTV" (click)="addcctv()">영상 추가</button>
</mat-card>
<mat-form-field class="filterBox">
  <mat-label>search</mat-label>
  <input matInput (keyup)="Filter()" placeholder="Ex. Mia" id="filter">
</mat-form-field>
<div class="CCTVlist">
  <mat-card *ngFor="let cctv of cctvs" class="itemcard">
    <img class="thumnail" src="../../../assets/images/users/{{cctv.thum}}" alt='/' (click)="detail(cctv.id)">
    <p class="title" (click)="detail(cctv.id)">{{cctv.title}}</p>
    <p class="update">{{cctv.update}}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="updatecctv()">
        <mat-icon>edit</mat-icon>
        <span>정보 변경</span>
      </button>
      <button mat-menu-item (click)="remove()">
        <mat-icon>remove_circle</mat-icon>
        <span>영상 삭제</span>
      </button>
    </mat-menu>
  </mat-card>
</div>
