<h4 mat-dialog-title>계정 수정</h4>

<div class="contents">
  <form action="/">
    <p class="id">
      <span class="label">아이디</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.uname" name="uname" required>
      </mat-form-field>
    </p>
    <p class="passward">
      <span class="label">비밀번호</span>
      <mat-form-field>
        <input matInput type='password' [(ngModel)]="account.pwd" name="pwd" required>
      </mat-form-field>
    </p>
    <p class="name">
      <span class="label">이름</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.name" name="name" required>
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">생년 월일</span>
      <mat-form-field>
        <input matInput type='date' [(ngModel)]="account.birth" name="birth">
      </mat-form-field>
    </p>
    <p class="contact">
      <span class="label">전화번호</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.contact" name="contact">
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">소속</span>
      <mat-form-field appearance="fill">
        <mat-label>소속</mat-label>
        <mat-select name="center" [(ngModel)]="account.centerId">
          <mat-option *ngFor="let center of centers" value="{{ center.value }}">{{ center.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">권한</span>
      <mat-form-field appearance="fill">
        <mat-label>권한</mat-label>
        <mat-select name="level" [(ngModel)]="account.level">
          <mat-option *ngFor="let level of levels" value="{{ level.value }}">{{ level.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <div class="buttonBox">
      <button mat-button class="submit" (click)='adjustDialog()'>추가하기</button>
      <button mat-button class="cancel" (click)="closeDialog()">취소</button>
    </div>
  </form>
</div>
