<div class="background">
    <img src="../../../assets/images/silverDance.jpg" alt="/">
</div>
<div class="contentsWrap">
    <p class="center">
        
    </p>
    <p class="title">
        <span class="label">프로그램명</span>
        <span class="contents"> 댄스 스포츠</span>
    </p>
    <p class="learnNum">
        <span class="label">수강 인원</span>
        <span class="contents"> 10명 </span> 
    </p>
    <p class="teacher">
        <span class="label">강사</span>
        <span class="contents">김모모</span>
    </p>
    <p class="contact">
        <span class="label">강사 연락처</span>
        <span class="contents">010-0000-0000</span>
    </p>
    <p class="datetime">
        <span class="label">일정</span>
        <span class="contents">2020.11.17 14:13</span>
    </p>
    
</div>