<h4>정보 수정</h4>
<div class="contents">
    <form action="/">
        <p class="title">
            <span class="label">제목</span>
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </p>
        
        <p class="datetime">
            <span class="label">수정 일자</span>
            <mat-form-field>
                <input matInput value="{{today}}">
            </mat-form-field>
        </p>
        <p class="center">
            <span class="label">대상 시설</span>
            <mat-form-field appearance="fill">
              <mat-label>시설 선택</mat-label>
              <mat-select>
                <mat-option value="녹양주간보호센터">녹양주간보호센터</mat-option>
                <mat-option value="요셉주간보호센터">요셉주간보호센터</mat-option>
              </mat-select>
            </mat-form-field>
        </p>
        <div class="buttonBox">
            <button mat-button class="submit">수정하기</button>
            <button mat-button class="cancel" (click)="closeDialog()">취소</button>
        </div>
    </form>
</div>
