<div class="background">
    <label for="photoUpload" class="fakeUpload">클릭해서 이미지 추가 </label>
    <input type="file" id="photoUpload" class="hidden" (change)='showPicture($event)'>
</div>
<div class="contentsWrap">
  <p class="title">
    <span class="label">프로그램명</span>
    <input type="text" class="form-control contents">
  </p>
  <p class="learnNum">
    <span class="label">수강 인원</span>
    <input type="text" class="form-control contents">
  </p>
  <p class="teacher">
    <span class="label">강사</span>
    <input type="text" class="form-control contents">
  </p>
  <p class="contact">
    <span class="label">강사 연락처</span>
    <input type="text" class="form-control contents">
  </p>
  <p class="datetime">
    <span class="label">일정</span>
    <input type="text" class="form-control contents">
  </p>
</div>
<div class="buttonBox">
    <button mat-button class="adjust">적용하기</button>
    <button mat-button class="cancel" (click)="cancel()">취소</button>
</div>