.header {
    line-height: 36px;
}
.addActivity {
    background-color: slateblue;
    color:#fff;
    float: right;
}

.filter {
    display: inline-block;
    width:50%;
}
.TableControl{
    float:right;
}
table tr:not(.mat-header-row):hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.mat-radio-button {
    display: block;
    padding:0.2rem
}