.hidden {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input { width:300px;}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
}
.ment {
    display: block;
}
.pwCheck {
    font-weight: normal;
    font-size: 0.8rem;
    color:red;
}
.green {
    color:green;
}
.buttonBox{
    padding-top: 20px;
    text-align: center;
}
.buttonBox button {
    margin: 0 10px;
}
.buttonBox button.doit {
    background-color: royalblue;
    color:#fff;
}
.buttonBox button.cancel {
    background-color: #eee;
}
