<p class='title m-b-20'>비밀번호 변경</p>
<div class="verify">
  <span class="ment m-b-10">기존 비밀번호를 입력해주세요.</span>
  <input type="password" class="form-control verifyPassword">
  <div class="buttonBox">
    <button mat-button class="check doit" (click)='verify()'>확인하기</button>
    <button mat-button class="cancel" (click)='cancel()'>취소</button>
  </div>
</div>
<div class="changeKit hidden">
  <span class="ment m-b-10">바꾸실 비밀번호를 입력해주세요</span>
  <label class="label">비밀번호</label>
  <input type="password" class="form-control pw m-b-5" required>
  <label class="label">비밀번호 확인 &nbsp;&nbsp;<span class="pwCheck"></span></label>
  <input type="password" class="form-control chkpw" required (keyup)='checkPw($event)'>
  <div class="buttonBox">
    <button mat-button class="change doit">변경하기</button>
    <button mat-button class="cancel" (click)='cancel()'>취소</button>
  </div>
</div>
