<mat-card>
    <h3>이벤트 로그</h3>
</mat-card>
<div class="eventBox">
    <div class="eventList">
        <div class="avatar male">
            <img src="../../../assets/images/person.png" alt="/">
        </div>
        <mat-card>
            <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
            <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
            <p class="time">10.12 10:12</p>
        </mat-card>
    </div>
    <div class="eventList">
        <div class="avatar male">
            <img src="../../../assets/images/person.png" alt="/">
        </div>
        <mat-card>
            <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
            <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
            <p class="time">10.12 10:12</p>
        </mat-card>
    </div>
    <div class="eventList">
        <div class="avatar female">
            <img src="../../../assets/images/person.png" alt="/">
        </div>
        <mat-card>
            <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
            <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
            <p class="time">10.12 10:12</p>
        </mat-card>
    </div>
    <div class="eventList">
    <div class="avatar male">
        <img src="../../../assets/images/person.png" alt="/">
    </div>
    <mat-card>
        <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
        <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
        <p class="time">10.12 10:12</p>
    </mat-card>
</div>
<div class="eventList">
    <div class="avatar female">
        <img src="../../../assets/images/person.png" alt="/">
    </div>
    <mat-card>
        <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
        <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
        <p class="time">10.12 10:12</p>
    </mat-card>
</div>
<div class="eventList">
    <div class="avatar male">
        <img src="../../../assets/images/person.png" alt="/">
    </div>
    <mat-card>
        <p class="main"><span class="desc">넘어짐 사고 발생</span> - <span class="name">김모모</span></p>
        <p><span class="center">시설A</span> - <span class="from">로봇</span></p>
        <p class="time">10.12 10:12</p>
    </mat-card>
</div>

</div>