.header {
    line-height: 36px;
}
.addWorker{
    background-color:slateblue;
    color:#fff;
    float:right;
}
.delete {
    color:red;
}
.revice {
    color:peru;
}
.delete:hover{
    text-decoration: underline;   
}
.revice:hover{
    text-decoration: underline;   
}