<h4 mat-dialog-title>계정 추가</h4>

<div class="contents">
  <form action="/">
    <p class="id">
      <span class="label">아이디</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.uname" name="uname">
      </mat-form-field>
    </p>
    <p class="passward">
      <span class="label">비밀번호</span>
      <mat-form-field>
        <input matInput type='password' [(ngModel)]="account.pwd" name="pwd">
      </mat-form-field>
    </p>
    <p class="name">
      <span class="label">이름</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.name" name="name">
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">생년 월일</span>
      <mat-form-field>
        <input matInput type='date' [(ngModel)]="account.birth" name="birth">
      </mat-form-field>
    </p>
    <p class="contact">
      <span class="label">전화번호</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.contact" name="contact">
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">소속</span>
      <mat-form-field>
        <input matInput [(ngModel)]="account.centerId" name="centerId">
      </mat-form-field>
    </p>
    <p class="learnNum">
      <span class="label">권한</span>
      <mat-form-field appearance="fill">
        <mat-label>권한 설정</mat-label>
        <mat-select>
          <mat-option value="기관관리자">기관관리자</mat-option>
          <mat-option value="센터관리자">센터관리자</mat-option>
          <mat-option value="사용자">사용자</mat-option>
          <mat-option value="외부접속자">외부접속자</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <div class="buttonBox">
      <button mat-button class="submit" (click)='add()'>추가하기</button>
      <button mat-button class="cancel" (click)="closeDialog()">취소</button>
    </div>
  </form>
</div>
